doctype 5
html
  head
    meta(charset='utf-8')
    block title

    style
      ul,li {
        list-style-type: none;
      }
      label {
        display: inline-block;
        width: 175px;
      }

      li div label {
        margin-left: 20px;
        width: 155px;
      }
  body
    block content

    footer
