extends layout

block title
  title checkmyidp.org - #{domain} authentication and provisioning page checks - Mozilla Persona Identity Provider (IdP) Linter

block heading
    h3 #{domain} results

block content

    h3 Success! 
    p #{domain} looks like it is a valid Persona identity provider!

    nav
      ul
        li
          a(href="#{urls.retry}") Check again
        li
          a(href="/") Try another domain

